/****** root ******/
:root {
  --text-color-1: #2B2B2B;
  --text-color-2: #676767;
  --text-color-3: #8A8D90;
  --text-color-4: #ECECEC;
  --text-color-5: #00000032;
  --text-gradient: linear-gradient(10deg, #217bfe 0%, #a774ff 30%, #ee4d5d 100%);
  --background-color-1: #F0F4F8;
  --background-color-2: #FFFFFF;
  --background-color-3: #272A2C;
  --background-color-4: #171717;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
  --text-color-1: #ECECEC;
  --text-color-2: #B4B4B4;
  --text-color-3: #757577;
  --text-color-4: #2B2B2B;
  --text-color-5: #ffffff36;
  --text-gradient: linear-gradient(10deg, #217bfe 10%, #a774ff 60%, #ee4d5d 100%);
  --background-color-1: #272A2C;
  --background-color-2: #1E1F20;
  --background-color-3: #0D0D0D;
  --background-color-4: #FFFFFF;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.355);
}

/****** body/html ******/

body {
  position: relative;
  font-family: 'Dosis', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: var(--text-color-1);
  background: var(--background-color-1);
}

* {
  box-sizing: border-box;
}

/****** basic ******/


h1 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Dosis';
  color: var(--text-color-1);
}

h2 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Dosis';
  color: var(--text-color-1);
}

h3 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Dosis';
  color: var(--text-color-1);
}

h4 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: sans-serif;
  color: var(--text-color-2);
}


h5 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 26px;
  margin-top: -8px;
  font-family: sans-serif;
  color: var(--text-color-1);
}

h6 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 26px;
  margin-top: -8px;
  font-family: sans-serif;
  color: var(--text-color-4);
}

p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: sans-serif;
  color: var(--text-color-1);
}

a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Dosis';
  line-height: 26px;
  cursor: pointer;
  color: var(--text-color-1);
}

/****** preloader ******/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  animation: pulse 1.5s infinite ease-in-out;
  transform-origin: center;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

/****** nav ******/

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 8px 24px;
  transform: translateY(-100%);
  transition: transform 0.8s ease-out;
  background-color: var(--background-color-2);
  box-shadow: var(--box-shadow);
}


.custom-navbar.visible {
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 32px;
  font-weight: 800;
  padding-top: 4px;
  font-family: 'Allura';
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  font-size: 20px;
  margin-right: 16px;
  padding: 4px 6px;
  border-radius: 50%;
  border: 1px solid var(--text-color-1);
}

.custom-btn-nav {
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Dosis';
  color: var(--text-color-4);
  background-color: var(--background-color-4);
}

.custom-btn-nav .fa-solid {
  color: var(--text-color-4);
}

@media (max-width: 767px) {
  .custom-navbar {
    padding: 8px 2px;
  }

  .navbar-brand {
    font-size: 32px;
    padding-top: 4px;
  }
}


/****** selection ******/

.enter, .end, .section, .hero, .work, .about, .contact, .pin-spacer {
  min-width: 100%; 
  overflow: hidden; 
  scrollbar-width: none; 
}

.enter::-webkit-scrollbar,
.end::-webkit-scrollbar,
.section::-webkit-scrollbar,
.hero::-webkit-scrollbar,
.work::-webkit-scrollbar,
.about::-webkit-scrollbar,
.contact::-webkit-scrollbar,
.pin-spacer::-webkit-scrollbar {
  display: none; 
}


.custom-btn {
  position: relative;
  border-radius: 16px;
  padding: 8px 16px;
  color: var(--text-color-1);
  background-color: var(--background-color-2);
  border: 1px solid var(--text-color-1);
}

.custom-btn:hover {
  color: var(--text-color-4);
  border: 1px solid var(--text-color-1);
  background-color: var(--background-color-4);
}

.section-title {
  width: 8rem;
  border-bottom: 2px solid var(--text-color-2);
}

@media (max-width: 767px) {
  .custom-btn {
    padding: 6px 16px;
  }
}

/****** enter ******/

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.overlay-text {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.overlay-text h3 {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Allura';
  color: var(--text-color-1);
  border-bottom: 1px solid var(--text-color-1);
}

.scroll-downs {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width :32px;
  height: 56px;
}
.mousey {
  width: 4px;
  padding: 10px 15px;
  height: 35px;
  border: 1px solid var(--text-color-1);
  border-radius: 25px;
  box-sizing: content-box;
}
.scroller {
  width: 4px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--text-color-1);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/****** hero ******/

.section.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background: var(--background-color-2);
}

.section.hero::before {
  --size: 48px;
  --line: var(--text-color-5), transparent;
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(90deg,
      var(--line) 1px,
      transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-25deg, transparent 32%, var(--background-color-2));
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

#hero .hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero-text {
  position: relative;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.hero-text.visible {
  opacity: 1;
}

.top-text {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: auto;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: sans-serif;
  color: var(--text-color-2);
  background-color: var(--background-color-2);
}

.top-text span {
  font-family: 'Allura';
  font-size: 26px;
}

.left-side {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
  text-align: left;
  transform-origin: top center;
  white-space: nowrap;
  font-size: 14px;
  font-family: 'Dosis';
  letter-spacing: 4px;
  color: var(--text-color-3);
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-text h1 {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-family: "poppins";
  padding-bottom: 16px;
}

.center-text h2 {
  color: var(--text-color-1);
  font-size: 28px;
  font-family: 'Dosis';
  text-transform: none;
  padding-bottom: 8px;
  border-bottom: 0.5px solid var(--text-color-2);
}

.center-text p {
  color: var(--text-color-2);
  font-size: 14px;
  font-family: "poppins";
}

.right-side {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(90deg);
  text-align: right;
  transform-origin: top center;
  white-space: nowrap;
  font-size: 14px;
  font-family: 'Dosis';
  letter-spacing: 4px;
  color: var(--text-color-3);
}

.right-side strong {
  color: var(--text-color-1);
  font-size: 12px;
}

@media (max-width: 767px) {

  #hero .hero-box {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  .left-side {
    display: none;
  }

  .center-text {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-16%, -50%);
    text-align: left;
  }

  .center-text h1 {
    font-size: 32px;
  }

  .center-text h2 {
    font-size: 24px;
  }

  .right-side {
    position: absolute;
    top: 70%;
    right: 0;
    transform: translate(50%, -50%) rotate(90deg);
  }
}

/****** main ******/

main {
  overflow-x: hidden;
  position: relative;
}

/****** work ******/
main .section.work {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

#work .work-1 {
  border-top: 16px solid var(--background-color-1);
  width: 100%;
  height: auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color-2);
}

#work .work-2 {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color-2);
  margin: 16px 0;
}

#work .work-3 {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color-2);
  margin: 16px 0;
}

#work .work-4 {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color-2);
}

.carousel-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-row::-webkit-scrollbar {
  display: none;
}

.work-item {
  flex-shrink: 0;
  width: 520px;
  height: 400px;
  display: flex;
  align-items: center;
  background: no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: var(--background-color-1);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.work-item:first-child {
  width: 40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: var(--background-color-2);
}

.work-title {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
}

#work .section-title {
  width: auto;
  border-bottom: 1px solid var(--text-color-3);
  margin-bottom: 16px;
  padding-bottom: 8px;
}

@media (max-width: 767px) {

  .work-item:first-child {
    width: 50vw;
  }

  #work .section-title {
    font-size: 16px !important;
  }
}

/****** about ******/

main .section.about {
  position: relative;
  width: 100%;
  height: auto;
  padding: 16px;
}

#about .grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  height: auto;
}

#about .grid-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  padding: 48px;
  min-height: 32rem;
  background-color: var(--background-color-2);
}

#about .grid-item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

#about .grid-item-box-img {
  padding: 16px 0;
}

#about .grid-item-box-img img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid var(--text-color-3);
  scale: 0.5 !important;
}

#about .grid-item-tl {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 16px;
  width: 100%;
  height: 100%;
}

#about .tl-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#about .tl-cell .fa-solid {
  font-size: 32px;
  margin-left: 32px;
  color: var(--text-color-3);
}

#about .tl-cell-box {
  padding-left: 16px;
  margin-top: 16px;
}

#about .grid-item-box-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#about .grid-item-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#about .grid-skill-li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  height: 100%;
}

#about .grid-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#about .grid-cell .fa-solid {
  font-size: 32px;
  padding: 8px;
  margin-top: -16px;
  color: var(--text-color-3);
}

#about .grid-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#about .grid-logo-li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  height: 100%;
}

#about .grid-cell-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#about .grid-cell-2 .fa-brands {
  font-size: 28px;
  color: var(--text-color-2);
}


@media (max-width: 767px) {
  main .section.about {
    padding: 16px 8px;
  }

  #about .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  #about .grid-item {
    padding: 32px 16px;
    min-height: auto;
  }

  #about .grid-skill-li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 32px;
    padding-left: 32px;
  }


}

/****** contact ******/

.end {
  position: relative;
  background-color: var(--background-color-2);
}

.contact {
  perspective: 100vh;
}

.contact-card {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

/****** contact-card-1 ******/

.contact-card-1 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: var(--background-color-1);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.contact-card-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: var(--text-gradient);
}

.game{
  padding: 0 16px;
}

.scene {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  border-radius: 8px;
  z-index: 2;
}

.game-title{
  z-index: 2;
  position: relative;                     
  color: var(--text-color-1); 
  text-align: center; 
}

#game-cta{
  position: relative;      
  color: var(--text-color-1); 
  margin-top: 32px;
  text-align: center; 
  opacity: 0;
  z-index: 3;
  transition: opacity 2s ease-in-out;
}

.scene__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  z-index: 2;
}

.scene__score-board {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.scene__score-board_left, .scene__score-board_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  color: var(--text-color-1);
}

#party{
  position: absolute;
  margin-top: -100px;
  color: var(--background-color-1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: partyBounce 0.8s ease-in-out infinite;
}

@keyframes partyBounce {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.2) translateY(-20px);
  }
}

.scene__score-board_left {
 background-color: transparent;
 max-height: 96%;
 border-radius: 8px;
flex: 1;;
}

.scene__score-board_right {
  background-color: var(--background-color-2);
  max-height: 98%;
  border-radius: 8px;
  flex: 1;
}

.scene__title {
  margin-bottom: 8px;
  font-size: 18px;
  padding: 8px 16px;
  color: var(--text-color-1);
  background-color: var(--background-color-1);
  border-radius: 16px;
  transition: transform 0.3s ease;
  z-index: 2;
}

.scene__title_modified {
  transform: scale(1.4);
}

.scene__score-board_right img{
  margin-bottom: 16px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid var(--text-color-3);
}

.scene__hand-container {
  width: 150px;
  -webkit-animation: swang 1s ease-out infinite;
          animation: swang 1s ease-out infinite;
  display: flex;
  justify-content: flex-end;
  transform-origin: 0% 100%;
}

.scene__hand-container:last-child {
  justify-content: flex-start;
  -webkit-animation: swang-reversed 1s ease-out infinite;
          animation: swang-reversed 1s ease-out infinite;
  transform-origin: 100% 100%;
}

.scene__hand {
  font-size: 64px;
  transform: rotate(-85deg);
  padding: 0 20px;
}

.scene__hand_left {
  transform: rotate(85deg) rotateY(180deg);
}

.scene__hand_rock:after {
  content: "✊";
}

.scene__hand_paper:after {
  content: "✋";
}

.scene__hand_scissor:after {
  content: "✌️";
}

.scene-button{
  z-index: 2;
  margin-top: 8%;
}

[data-type] {
  z-index: 2;
  margin: 8px;
  font-weight: 700;
  letter-spacing: 1px;
}

[data-type]:active {
  transform: translatey(2px);
}

@-webkit-keyframes swang {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes swang {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes swang-reversed {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

@keyframes swang-reversed {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.btn-cta-wrapper {
  position: relative;
  display: inline-block;
  width: 120px;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.btn-cta {
  width: 120px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 4px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 16px;
  background: var(--text-gradient);
  background-size: 600%;
  -webkit-animation: anime 8s linear infinite;
  animation: anime 8s linear infinite;
  position: relative;
  z-index: 1;
}

@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
  .game{
    padding: 0 8px;
  }

  .scene {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .game-title{
   margin-top: 32px;
  }

  .scene-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    position: absolute; 
    bottom: 10%; 
    width: 100%; 
  }
  
}

/****** contact-card-2 ******/

.contact-card-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.contact-id {
  padding: 48px;
  border-radius: 16px;
  background-color: var(--background-color-3);
  color: white;
}

.contact-id h3 {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.email,
.social {
  padding: 8px 0;
  color: white;
}

.contact-id a,
.contact-id h6,
.contact-id h1 {
  color: white !important;
  text-decoration: none;
}

.social a {
  font-size: 28px;
  margin-right: 16px;
  color: white;
}

@media (max-width: 767px) {
  .contact-id {
    margin: 0 auto;
    width: 98%;
    height: auto;
    padding: 16px;
    border-radius: 16px;
  }

  .contact-id h1 {
    padding-bottom: 24px;
    border-bottom: none;
  }
}

/****** footer ******/

footer {
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-items: center;
  justify-content: center;
  color: var(--text-color-1);
  background-color: transparent;
}


/****** end ******/

